{
    "bip39_mnemonic": "nut ivory pyramid syrup lab ice pact naive oak sad table rabbit",
    "bip39_passphrase": "",
    "prvkey": "fdf17433cb88469bb274beb1b07c91a99776fc6a057f9b72114349a5bca548ab",
    "nsec": "nsec1lhchgv7t3prfhvn5h6cmqly34xthdlr2q4lekus3gdy6t099fz4slhrrel"
}
